<footer class=" bg-dark py-100 py-12">
    <div class="container">
    <div class="row flex-column flex-lg-row gap-8">
        <div class="col">
            <a href="index.html" class="mb-lg-7 mb-8">
                <img src="/assets/images/LOGO_w.svg" alt="LOGO_w">
            </a>
            <ul class="navbar-nav text-white d-flex flex-lg-row row-gap-4">
                <li class="nav-item  me-lg-7"><a href="#" class="" aria-current="page">
                    常見問題
                </a></li>
                 <li class="nav-item  me-lg-7"><a href="#" class="" aria-current="page">
                    關於我們
                </a></li>
                 <li class="nav-item  me-lg-7"><a href="#" class="" aria-current="page">
                    隱私權政策
                </a></li>
                 <li class="nav-item  me-lg-7"><a href="#" class="" aria-current="page">
                    使用者條款
                </a></li>
            </ul>


        </div>

        <div class="col">
            <div class="d-flex mb-4 justify-content-lg-end">
                <a href="#" class="border rounded-circle me-4"><img src="/assets/images/line.svg" alt="line" style="width: 40px;"></a>
            
                <a href="#" class="border rounded-circle me-4"><img src="/assets/images/yt.svg" alt="yt" style="width: 40px;"></a>            
            
                <a href="#" class="border rounded-circle me-4"><img src="/assets/images/fb.svg" alt="fb" style="width: 40px;"></a>            
            </div>
            <p class="text-secondary text-lg-end">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
            
        </div>
 
 
 
    </div>
</div>
</footer>