
<nav class="navbar navbar-expand-lg border-bottom py-3 bg-white">
  <div class="container">
    <div class="d-flex align-items-center w-100">
    
        <a class="navbar-brand me-auto me-lg-0" href="index.html">
        <img class="me-6" src="/assets/images/LOGO.svg" alt="logo"></a>
 
        <div class="d-none d-lg-block me-lg-auto">
        <div class="input-group text-secondary" role="search">
        <span class="input-group-text material-icons-outlined">
        search</span>
        <input class="form-control bg-white me-2 border-start-0 ps-0" style="max-width: 400px;" type="search" placeholder="搜尋景點、地點或城市" aria-label="Search" id="Search"/>   
        </div></div>   


    <a href="#"><span class="material-icons-outlined px-3 d-lg-none ms-auto align-bottom">
    search
    </span></a>
    <a href="cart.html"><span class="material-icons-outlined px-3 me-lg-4 align-bottom">
    shopping_cart
    </span></a>

    <div class="flex-shrink-0">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <button class="btn btn-primary">登入 / 註冊</button>
  </div></div>
    
    </div>
    </div>

</nav>

