.glass {
    /* 背景半透明：#000 40% */
    background: rgba(0, 0, 0, .4);

    /* 背後內容模糊 */
    -webkit-backdrop-filter: blur(12px);
    /* Safari */
    backdrop-filter: blur(12px);

    border-radius: 0 16px 0 16px;
}


.start-nleft {
    left: calc(50% - 732px);
}

.start-nright {
    right: calc(50% - 732px);
}

@media(min-width:992px) {

    .py-lg-120 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

}